html { overflow-y: scroll; overflow-x:hidden; height: 100%;}
body{margin: 0px; height: 100%;}
.zerg_pic{
width: 300px;
height: 50px;
}
.header {
  background-color: rgb(100, 252, 255);
  height: 100px;
  width: 1920px;
  margin: 0px;
   z-index: 200;
}
.container{
    height: calc(100% - 100px);
    overflow-y : auto;
}
.form-wrap {
  width: 550px;
  background: #ffd500;
  border-radius: 20px;
}

.footer {
  z-index: 200;
  position: fixed;
}
.headerLogo {
  position: fixed;
  height: 100px;
  width: 100px;
  left: 15px;
  z-index: 200;
}
.pageName {
  position: fixed;
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 25px;
  left: 50px;
    z-index: 200;
}

.userName {
  position: fixed;
  height: 36px;
  text-align: right;
  right: 100px;
  font-size: 25px;
    z-index: 200;
}
.userAvatar {
  position: fixed;
  margin: 20px;
  height: 60px;
  width: 60px;
  right: 10px;
    z-index: 200;
}

.PictureBlock{
    position: relative;
    top: 100px;
    height: 500px;
    padding: 100px;
    word-wrap: break-word;
}
.imageInBlock{
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 10px;
    float: left;
}
.textInBlock{
    word-wrap: break-word;
    width: 1000px;
}
button.Delete {

	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	background-color: rgb(100, 252, 255); /* Цвет фона */
	padding: 1em 2em; /* Отступ от текста до рамки */
	}
	button.Delete:active {
	background-color: rgb(100, 0, 255); /* Цвет кнопки при нажатии */
	}
	button.Delete:hover {
	background-color: rgb(100, 0, 255); /* Цвет кнопки при наведении курсора */
	}
button.More {
    position: relative;
    left: 100px;
    user-select: none; /* Убираем текстовое выделение */
    text-decoration: none;	/* Убираем подчеркивание */
    outline: none; /* Убираем контур вокруг ссылки */
    background-color: rgb(100, 252, 255); /* Цвет фона */
    padding: 1em 2em; /* Отступ от текста до рамки */
    }
    button.More:active {
    background-color: rgb(100, 0, 255); /* Цвет кнопки при нажатии */
    }
    button.More:hover {
    background-color: rgb(100, 0, 255); /* Цвет кнопки при наведении курсора */
}
button.loadButton {
    z-index: 201;
    position: fixed;
    right: 250px;
    top: 25px;
    user-select: none; /* Убираем текстовое выделение */
    text-decoration: none;	/* Убираем подчеркивание */
    outline: none; /* Убираем контур вокруг ссылки */
    background-color: rgb(255, 255, 255); /* Цвет фона */
    padding: 1em 2em; /* Отступ от текста до рамки */
    }
    button.loadButton:active {
    background-color: rgb(255, 0, 0); /* Цвет кнопки при нажатии */
    }
    button.loadButton:hover {
    background-color: rgb(255, 0, 0); /* Цвет кнопки при наведении курсора */
}
.footer {
  position: relative;
  bottom: 0px;
  width: 500px;
  background-color: white;
  height: 15px;
  left:10px;
}
.footerText{
  font-size: 12px;
}


.form-row {
	margin-bottom: 8px;
	margin-top: 22px;
}
.form-row input {
	float: right;
	height: 19px;
	line-height: 19px;
	margin: 0px;
	padding: 0px 5px;
	width: 287px;
	border: 1px solid #ABADB3;
}

.reg-form {
	width: 416px;
	margin: 0 auto;
}

.form-row textarea {
	height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 0px 5px;
    width: 404px;
    border: 1px solid #ABADB3;
}

.form-row input[type=submit] {
	padding:5px;
	height:25px;
	width:100%;
	line-height: 10px;
	background: #337AB7;
	color:white;
}

.form-row input[type=submit]:hover {
	background:#286090;
}

* {
	font-family:arial;
	font-size:10pt;
}

